{% extends 'base.html' %}
{% block content %}
<ul>
    {% for book in book_list %}
    <li>
        {{ book.title }}
        {{ book.description }}
    </li>
    {% endfor %}
</ul>
{% endblock content %}