{% extends 'base.html' %}
{% block content %}
<div>
    <form action="{% url 'create-book' %}" method="get">
        {% for language in language_list %}

            {% if language == default_language %}
                <div>
                    <p>Book Title in {{language}}</p>
                    <input type="text" name="title_{{language}}" placeholder="Title" required>
                </div>
                <div>
                    <p>Book Description in {{language}}</p>
                    <input type="text" name="description_{{language}}" placeholder="Description"  required>
                </div>
            {% else %}
                <div>
                    <p>Book Title in {{language}}</p>
                    <input type="text" name="title_{{language}}" placeholder="Title">
                </div>
                <div>
                    <p>Book Description in {{language}}</p>
                    <input type="text" name="description_{{language}}" placeholder="Description">
                </div>
            {% endif %}

        {% endfor %}
        <br>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock content %}