{% extends 'base.html' %}
{% block content %}
<form action="{% url 'search-list' %}" method="get">
    <input type="text" name="q" placeholder="Search..." value="{{ query }}">
    <button type="submit">Search</button>
</form>
{% endblock content %}